header {
    background-color: #A6e1fa;
    text-align: left;
    padding: 20px;
    font-size: 200%;
    display: flex;

  align-items: center;   /* vertical centering */
  justify-content: left; /* optional: horizontal centering */
  height: 100px;         /* parent must have a height */
}

header img {
    width: 10%;

}

body {
    background-color: #001c55;
}

main {
    background-color: #A6e1fa;   
    padding: 20px; 
    margin: 10px;
}
#wireframes {
    width: 40%;    
}

footer {
    background-color: #A6e1fa;
    text-align: center;
    padding: 20px;
    font-size: 150%;
}