@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html body {
    background: #386641;
    overflow-x: hidden;
}

#header-container {
    background-color: #f2e8cf;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}