@media only screen and (min-width: 800px) {


html body {
    background: #3f3437;
    overflow-x: hidden;
}

header nav {
    font-size: 150%;
    display: flex;
    align-items: center;
    margin: 30px;
    grid-column: 4;

}

header nav a {
    margin: 20px;
    margin-left: auto;
    color: black;
    text-decoration: none;
    padding: 5px;
}

nav {
    background-color: #f2e8cf;
}

html, body {
    font-family: "Oswald", sans-serif;
}

#hamburger {
    display: none;
}

nav {
    font-size: 275%;
    display: flex;
    align-items: center;
    margin: 50px;

}

#dropdown-a {
    background-color: #ab9595;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);    
}

#nav-dropdown {
    display: none;
}


nav a:hover {
    background-color: #ab9595;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

header {
    font-size: 200%;
}

#header-container {
    background-color: #f2e8cf;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px;
    place-items: center;

}

#home-main {
    background-color: #f2e8cf;
    margin: 50px;

}


#header-logo {
    width: 120px;
    height: auto;
    margin: 20px;

}

nav a {
    color: black;
    margin-right: 30px;
    margin-left: 15px;
    text-decoration: none;
    margin: 20px
}

#about-me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* 3 columns */

}

#about-me-paragraph {
    grid-column: 1/3;
    margin-right: 10px;
    background-color: #eae0d5;}

#about-me-photo {
    place-items: center;
    grid-row: 1;
    grid-column: 3;

}

#about-me-paragraph h2 {
    background-color: #bc4749;
    font-size: 200%;
    text-align: center;
    margin-top: auto;


}

#about-me-paragraph p {
    font-size: 150%;
    margin-left: 30px;

}

#student-picture {
    display: flex;
    width: 80%;
    height: auto;
    padding-bottom: 20px;
    margin: auto;

}

#about-me-photo {
    background-color: #eae0d5;    
    margin-left: 10px;



}

#about-me-photo h2 {
    font-size: 200%;
    margin-top: auto;
}

#student-photo-container {
    background-color: #bc4749;
    align-self: stretch;
    justify-self: stretch;
    text-align: center;

}

#web-courses {
    text-align: center;
    background-color: #bc4749;
    margin: 20px;
    padding: 10px;
}

#courses {
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.top-row-course {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column: 1 / 4;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
}

.top-row-course h2 {
    background-color: #bc4749;
    border-radius: 40px;
    padding: 10px;
    margin: 0;
}

.bot-row-course {
    background-color: #bc4749;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    grid-row: 2;
}

#home-footer {
    background-color: #f2e8cf;;
    margin: 50px;
}

#top-row {
    display: grid;
}

#credit-score {
    text-align: center;
    font-size: 150%;
    background-color: #bc4749; 
    padding: 15px;

}

#home-footer img, #home-footer a {
    height: 40px;
}

#icons {

    padding-top: 25px;
    display: flex;
    justify-content: center
}

#icons a:hover {
    transform: scale(1.5);
    transition: 0.3s;
    border-radius: 30px;

}

#icons a {
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.3s;
}

#bot-row {
        background-color: #bc4749;
        margin-top: 30px;
}
#current-year, #lastModified {
    margin-top: 20px;
    display: grid;
    text-align: center;
    font-size: 150%;
    margin: 10px;
    padding: 5px;
}

h1 {
    padding-left: 20px;
    padding-top: 20px;
}

#home-a {
    background-color: #ab9595;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

































.card.off {
    background-color: #f2e8cf;    
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-rows: 1fr auto;
    text-align: center;
    border-radius: 15px;
}

.card.on {
    padding: 10px;
}

main.on {
    margin-left: 15%;
    margin-right: 15%;
}





.card.off .topDiv {
    background-color: #bc4749;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 65px;
}

.card.off .bottomDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.bottomDiv img {
    grid-column: 1;
    grid-row: 1 / 4;
    padding: 10px;
}

.card.off .bottomDiv p {
    grid-column: 2 / 4;
}

#buttons {
    margin: 50px;
    text-align: center;
    margin: 40px;
}

#buttons span {
    background-color: #f2e8cf;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 40px;
}

#buttons span:hover {
    background-color: #ab9595;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#grid.on {
    background-color: #a49292;
}

#list.on {
    background-color: #a49292;
}


.card {
    margin: auto;
}

.card h3 {
    height: 50px;
}

#chamber-main p {
    margin: 30px;
    margin: auto;
}

#chamber-main div img {
    width: 175px;
}





#chamber-main.off {
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

#chamber-main.on {
    background-color: #f2e8cf;
}

#chamber-main.on img {
    display: none;
}

#chamber-main h3 {
    font-weight: bold;
}

html, body {
    font-family: "Oswald", sans-serif;
}


#grid.off {
    background-color: #f2e8cf;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);    
}

#list.off {
    background-color: #f2e8cf;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5); 
}



header nav {
    font-size: 150%;
    display: flex;
    align-items: center;
    margin: 30px;
    grid-column: 4;

}

header nav a {
    margin: 20px;
    margin-left: auto;
    color: black;
    text-decoration: none;
    padding: 5px;
}

#chamber-a {
    background-color: #ab9595;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

nav a:hover {
    background-color: #ab9595;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


#header-container {
    background-color: #f2e8cf;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px;
    place-items: center;

}

#chamber-footer {
    background-color: #f2e8cf;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 50px;
    padding: 10px;
}

#chamber-bot-row {
    margin-top: 0px;
    margin: 0%;
}

#chamber-icons img {
    width: 40px;
    margin: auto;
    margin-bottom: 50%;
    margin-top: 50%;
    padding: 5px;

}

#chamber-icons a {
    transform: scale(1);
    transition: 0.3s;
}

#chamber-icons a:hover {
    transform: scale(1.5);
    transition: 0.3s;
    border-radius: 30px;
}

#chamber-icons {
    display: flex;
    justify-content: center; /* Centers items horizontally */
}

#chamber-footer p {
    margin: 0px;
}


}