@media only screen and (min-width: 1580px) {

}

#hamburger {
    display: none;
}

nav {
    font-size: 275%;
    display: flex;
    align-items: center;

}

a:hover {
    background-color: #ab9595;
    transition: 0.2s;
}

header {
    font-size: 200%;
    color: #bc4749;
        grid-column-start(1, 3fr);

}

#header-container {
    background-color: #f2e8cf;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px;
    place-items: center;

    
}

main {
    background-color: #f2e8cf;
    margin: 50px;

}


#header-logo {
    width: 50%;
    margin: 20px;
}

nav a {
    color: black;
    margin-right: 30px;
    margin-left:15px;
    text-decoration: none;
    margin: 20px

}

#about-me {
    display:grid;
    grid-column: 
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
    grid-template-rows: 1fr 1fr;     /* 2 rows */
}

#about-me-paragraph{
    grid-column:1;
    grid-row:2;
}

#about-me-paragraph h2{
    background-color: #bc4749;
}