@media screen and (max-width: 720px) {

    header{
        display: grid;
    }

    header {

        color: #bc4749;
    }
    
    body h2 {
        background-color: #bc4749;
    }
    
#header-logo {
    width: 40%;
    margin: 10px;
    margin-right: auto;
}

header span {
    text-align: center;
    font-size: 110%;
}

#hamburger {
    margin-left: auto;
    margin-right: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #bc4749;
}


    nav {
        display: none;
    }
    
    nav.show {

        margin-top: 10px;
        display: grid;
        text-align: center;
        padding: 10px

    }

    nav a {
        padding: 5px;
        margin: 5px;
        text-decoration: none;
        color: black;
        background-color: #bc4749;
        transition: 0.3s;
    }

        nav a:hover {
            background-color: #ffa5a6;
            transition: 0.3s;

    }

    main {
        background-color: #f2e8cf;

    }

    h1 {
        padding: 10px;
    }

    #about-me h2 {
        text-align: center;
        margin-top: auto;
    }


    #about-me-photo {
        display: grid;
    background-color: red;  
    }
    
    #student-picture {
        width: 80%;
        margin: auto;
        
    }

    #web-courses {
        text-align: center;
    }

    #courses {
        text-align: center;
    }

    .top-row-course {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }


    
}