@media screen and (max-width: 720px) {

html body {
    background: #3f3437;
    overflow-x: hidden;
}

#header-container {
    background-color: #f2e8cf;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    place-items: center;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: #f2e8cf;
}

html, body {
    font-family: "Oswald", sans-serif;
}

    header{
        display: grid;
    }

    header {

        color: black;
    }
    
    body h2 {
        background-color: #bc4749;
    }
    
#header-logo {
    width: 60px;
    height: auto;
    margin: 10px;
    margin-right: auto;
}

header span {
    text-align: center;
    font-size: 110%;
}

#hamburger {
    margin-left: auto;
    margin-right: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #bc4749;
}

#nav-box {
    display: none;
}



    nav {
        display: none;
    }
    
    nav.show {
        margin-top: 10px;
        display: grid;
        text-align: center;
        padding: 10px

    }

    nav a {
        padding: 5px;
        margin: 5px;
        text-decoration: none;
        color: black;
        background-color: #bc4749;
        transition: 0.3s;
    }

        nav a:hover {
            background-color: #ffa5a6;
            transition: 0.3s;

    }

    #home-a {
        background-color: #ffa5a6;
    }

    #home-main {
        background-color: #f2e8cf;

    }

    h1 {
        padding: 10px;
    }

    #about-me h2 {
        text-align: center;
        margin-top: auto;
    }


    #about-me-photo {
        display: grid;
        background-color: #eae0d5;  
    }
    
    #student-picture {
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 15px;
        
    }

    #web-courses {
        text-align: center;
    }

    #courses {
        text-align: center;
    }

    .top-row-course {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

    }
    .top-row-course h2 {
        margin: 10px;
        border-radius: 10px;
    }

    .bot-row-course h2 {
        margin: 10px;
    }

    .bot-row-course {
        padding-bottom: 2px;
    }

    #top-row {
       background-color: #f2e8cf;
        text-align: center;
        margin-top: 15px;
    }


    #icons img {
        width: 40px;
    }

    #about-me p {
        padding: 5px;
    }
    
    #icons {
        padding: 5px;
        padding-top: 5px;
        background-color: #f2e8cf;
        display: flex;
        justify-content: center;
    }

    #icons a {
        margin-left: 4%;
        margin-right: 4%;
        text-decoration: none;
}

    #bot-row {
        margin-top: 10px;
        background-color: #f2e8cf;
        text-align: center;
    }

    #grid.on {
        background-color: #b1a0a0;
        border-radius: 10px;
    }

    #list.on {
        background-color: #b1a0a0;
        border-radius: 10px;
    }

    #grid.off {
        background-color: #f2e8cf;
        border-radius: 10px;
        transition: 0.2s;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);    
    }

    #list.off {
        background-color: #f2e8cf;
        border-radius: 10px;
        transition: 0.2s;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.5); 
    }

    #chamber-main.off {
        display: grid;
        grid-template-rows: repeat(7, 1fr);
        text-align: center;
        margin: 10px;
        margin-left: 25%;
        margin-right: 25%;
        
    }
    #chamber-main.off {
        text-align: center;
    }

    .card.off img {
        width: 50%;
    }

    .card.on img {
        display: none;
    }

    .card.off {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    .card.off h3 {
        background-color: #e4373a;;
        margin-top: auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 75%;
    }
    .card.off {
        background-color: #f2e8cf;
        border-radius: 5px;
        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: 10px;
    }

    .card p {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 60%;
    }

    main.on {
        background-color: #f2e8cf;
        padding-left: 5px;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }

    #buttons {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #buttons div{
        margin: 5px;
    }
    #buttons div span{
        padding: 5px;
        padding-left:10px;
        padding-right:10px;
    }

#chamber-footer {
    background-color: #f2e8cf;
    padding: 5px;
}

#chamber-footer img {
    width: 75px;
}

#chamber-icons {
    display: flex;
    justify-content: center;
}

#chamber-icons img{
    padding: 5px;
}

}